* {
  margin: 0;
  padding: 10px 10px;
}

button {
  outline: none !important;
  border: 0;
  cursor: pointer;
}
.habit {
  font-size: 2rem;
  list-style: none;
}
.habit-button {
  font-size: 20px;
  margin: 1%;
  
}
